<!doctype html>
<html lang="zh" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<link media="screen" type="text/css" href="../static/css/login.css" rel="stylesheet" ></link>
<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js" ></script>
<script type="text/javascript" src="../static/js/login.js" ></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录管理系统</title>
</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
        <div class="container">
			<div class="form">
                <h2>登录管理系统</h2>
				<input id="username" type="text" placeholder="用户名">
				<input id="password" type="password" placeholder="密码">
                <button id="login_button">登录</button>
                <div><span id="hint" style="color:red;margin: 3px;"></span></div>
                <div><a id="forget" style="margin: 3px" href="#">忘记密码</a><span> or </span><a id="help" style="margin: 3px" href="#"> 需要帮助？</a></div>
                <div id="help_div" style="margin-top:10px;text-align: center" hidden="hidden">
                    <div  style="text-align: left; margin:0 auto;border: white 1px solid; width: 300px; height: 200px">
                        <span id="help_hint" style="padding: 5px; text-align: left;word-break:break-all;"></span>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
</div>
</body>
</html>